@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

*{
    box-sizing: border-box;
    margin: 0;
}

h1 {
    font-family: Roboto;
    font-variant-caps: all-petite-caps;
    font-weight: lighter;
    font-size: 30pt;
    text-align: center;
    text-shadow: 2px 5px 3px black;
    padding: 30px 0px;
}

h2 {
    /* display: inline-block; */
    background: url(../img/zen.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 40%;
    font-family: Satisfy;
    font-size: 12pt;
    font-weight: 50;
    font-style: italic;
    text-align: center;
    justify-content: center;
    padding-left: 4%;
}

h3 {
    color: black;
    font-family: Roboto;
    font-size: 10pt;
    letter-spacing: 0px;
}

#zen-preamble h3, #zen-explanation h3, #zen-requirements h3 {
    padding-bottom: 15px;
}

abbr {
    text-decoration: none;
}

abbr:hover {
    text-decoration: underline;
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

header {
    background-image: url('../img/huntington.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    padding: 20px 0px 70px 0px;
    color: white;
    align-content: center;
}

div.summary, div.preamble, div.explanation, div.requirements {
    padding-top: 15px;
    padding-bottom: 15px;
}

div.participation, div.benefits {
    background-image: url('../img/bamboo.png');
    background-color: #7ca57c;
    background-repeat: repeat, repeat, no-repeat;
    background-size: auto, auto, cover;
    padding-top: 5px;
    padding-bottom: 15px;
}

#zen-participation p, #zen-benefits p {
    padding-bottom: 0px;
    padding-top: 0px;
    color: white;
}

#zen-participation abbr, #zen-benefits abbr {
    color: #636363;
}

p {
    padding-bottom: 10px;
}

p[role="contentinfo"] {
    display: block;
    background-color: #7ca57c;
    background-clip: border-box;
    width: max-content;
    margin: 0;
    padding: 30px 90px;
    font-size: 10pt;
}

p[role="contentinfo"] > a {
    font-family: Satisfy;
    font-size: 10pt;
    color: white;
}

div[role="article"] {
    font-family: IBM Plex Mono;
    font-size: 8pt;
    font-weight: normal;
    color: #636363;
    letter-spacing: 0px;
    word-spacing: 1px;
    padding-left: 150px;
    padding-right: 150px;
    display: block;
}
