@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

*{
    box-sizing: border-box;
    margin: 0px;
    border: 0;
}

h1 {
    font-family: Roboto;
    font-variant-caps: all-petite-caps;
    font-weight: lighter;
    font-size: 30pt;
    text-align: center;
    text-shadow: 2px 5px 3px black;
    padding: 30px 0px;
}

h2 {
    /* display: inline; */
    background: url(../img/zen.svg);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: Satisfy;
    font-size: 12pt;
    font-weight: 50;
    font-style: italic;
    padding-left: 4%;
    /* width: 100vw; */
    margin-left: 42vw;
    /* margin-right: -42vw; */
}

h3 {
    color: black;
    font-family: Roboto;
    font-size: 10pt;
    letter-spacing: 0px;
    padding-left: 150px;
}

#zen-preamble h3, #zen-explanation h3, #zen-requirements h3 {
    padding-bottom: 15px;
}

abbr {
    text-decoration: none;
}

abbr:hover {
    text-decoration: underline;
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

header {
    background-image: url('../img/huntington.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    padding: 20px 0px 70px 0px;
    color: white;
    align-content: center;
}

div.summary, div.preamble, div.explanation {
    padding-top: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
    border: 0;
}

div.requirements {
    padding-top: 15px;
    box-sizing: border-box;
    border: 0px;
    margin: 0px;
}

div.participation, div.benefits {
    background-image: url('../img/bamboo.png');
    background-color: #7ca57c;
    background-repeat: repeat, repeat, no-repeat;
    background-size: auto, auto, cover;
    padding-top: 5px;
    padding-bottom: 15px;
}

#zen-participation p, #zen-benefits p {
    padding-bottom: 0px;
    padding-top: 0px;
    color: white;
}

#zen-participation abbr, #zen-benefits abbr {
    color: #636363;
}

p {
    padding-bottom: 10px;
}



div[role="article"] > p {
    font-family: IBM Plex Mono;
    font-size: 8pt;
    font-weight: normal;
    color: #636363;
    letter-spacing: 0px;
    word-spacing: 1px;
    padding-left: 150px;
    padding-right: 150px;
    margin: 0;
    border: 0;
    display: block;
}

p[role="contentinfo"] {
    background-color: #7ca57c;
    background-repeat: repeat;
    background-size: auto;
    padding: 30px 90px;
    box-sizing: border-box;
    width: auto;
    font-size: 10pt;
    text-align: center;
    color: lightgrey;
}

p[role="contentinfo"] > a {
    font-family: Satisfy;
    font-size: 20pt;
    font-weight: lighter;
    color: white;
}

footer {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(29, 95, 95);
    padding: 0;
}

i.fab {
    font-size: 22px;
    font-weight: 100;
}


footer > a {
    color: white;
    padding: 15px;
}

footer > a:hover {
    color: grey;
}

.sidebar {
    font-family: IBM Plex Mono;
    display: flex;
    flex-wrap: wrap;
    flex-direction: initial;
    width: 100vw;
}

a.designer-name{
    color: lightgrey;
}

.wrapper {
    width: 100%;
    font-size: 8pt;
}

.wrapper ul {
    list-style: none;
    padding: 0;
    border: 0;
    margin: 0;
}

h3.archives, h3.select, h3.resources {
    height: 0;
    width: 0;
    padding: 0;
}

div.design-selection {
    background-color: rgb(234, 254, 234);
}

#design-selection ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100vw;
    max-height: 300px; 
}

#design-selection ul > li {
    min-height: 50px;
    min-width: 50vw;
    padding: 30px 0;
    text-align: center;
    border-bottom: 1px solid lightgrey;
}

div.design-archives {
    background-color: rgb(234, 254, 234);
    
}

#design-archives ul {
    display: flex;
    flex-wrap: none;
    flex-direction: row;
    width: 100vw;
    min-height: 50px;
}

#design-archives ul > li {
    color: lightgrey;
    text-align: center;
    min-width: 50vw;
    min-height: 60px;
    padding: 20px 0;
    flex: 1 1 auto;
}

.select, .archives, .resources{
    visibility: hidden;
}

div.zen-resources {
    display: flex;
    background-image: url('../img/bamboo.png');
    background-color: #7ca57c;
    background-repeat: repeat, repeat, no-repeat;
    background-size: auto, auto, cover;
    height: 120px;
    margin: 0;
    border: 0;
    padding: 0;
}

#zen-resources ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100vw;
    height: auto;
    color: grey;
    flex: 1;
}

#zen-resources ul > li {
    flex: 1;
    min-width: 50%;
    max-width: 50%;
    min-height: 40px;
    vertical-align: middle;
    text-align: center;
    padding: 15px 0px;
}