@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:900');

* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.box {
    color: white;
    font-size: 100px;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    /* padding: 50px; */
    width: calc(100vw / 3);
    height: calc(100vh / 3);
    transition: transform 0.5s;
}

.box:hover {
    z-index: 1;
    position: relative;
    filter: invert(1);
    transform: scale(1.2, 1.2);
}

.box:active {
    background: grey;
}

/* Colours for each box */
.box1 { background:#eccc68;}
.box2 { background:#ff6348;}
.box3 { background:#ff7f50;}
.box4 { background:#ff4757;}
.box5 { background:#f1c40f;}
.box6 { background:#e67e22;}
.box7 { background:#2ed573;}
.box8 { background:#1e90ff;}
.box9 { background:#c56cf0;}
/* .box10 { background:#18dcff;} */

@keyframes expand {
    from {
        width: 100%;
    }
    to {
        width: 150%;
    }
}