/* Color Theme Swatches in Hex */
.White-Grey-Orange-Scheme,-main-background-hex { color: #D9D0C1; }
.White-Grey-Orange-Scheme,-nav-background-hex { color: #F25C05; }
.White-Grey-Orange-Scheme,-div-background-hex { color: #F27F1B; }
.White-Grey-Orange-Scheme,-main-font-color-hex { color: #F0F0F2; }
.White-Grey-Orange-Scheme,-grey-button-color-hex { color: #4F5359; }


.Rustic-woodden-board-with-knots-and-nail-holes,-vintage--backgro-4-hex { color: #F28B66; }
.Rustic-woodden-board-with-knots-and-nail-holes,-vintage--backgro-5-hex { color: #F2B4AE; }

html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #D9D0C1;
    font-family: rubik;
    font-size: medium;
    text-align: center;
    color: #F0F0F2;
    text-shadow: 1px 1px 2px black;
    margin: 0;
}

a {
    color: #f0f0f2;
    font-weight: 100;
    letter-spacing: 2px;
    text-decoration: none;
    background: rgb(79,83,89,0);
    padding: 20px 5px;
    display: inline-block;
    width: 100%;
    text-align: center;
    transition:all 0.5s;
}

a:hover {
    font-family: rubik-italic;
    background: rgb(79,83,89,0.5);
}

.flex-nav ul {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    list-style: none;
    margin: 0;
    padding: 0;
    
    background-color: #F25C05;
    color: #5E6D70;
    font-size: larger;
}

.flex-nav li {
    flex:auto;
}

div {
    background-color: #F27F1B;
    padding: 5px;
    border-radius: 10px;
    margin: 15px 60px 15px;
}

img {
    padding: auto;
}

input {
    color: black;
}

button {
    color: black;
}

.responseBox {
    height: 25px;
}

.greyButton{
    display: flex;
    flex: auto;
    background-color: #4F5359;
    color: white;
    min-width: 150px;
    max-height: 70%;
    border-radius: 15px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
}

@font-face {
    font-family: 'rubik';
    src: url('src/rubik/Rubik-Regular.ttf');
}

@font-face {
    font-family: 'rubik-italic';
    src: url('src/rubik/Rubik-MediumItalic.ttf')
}