.main-content-container {
    display: flex;
    flex-direction: row;
}

.news-panel-container {

}

.news-thumb-container {

}

.news-text-container {
    display: flex;
    flex-direction: column;
    justify-items: space-between;
}