@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


html {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
    background: #a90329; /* Old browsers */
    background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */

    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100vw;
}

div.game-box {
    border: 2px solid white;
    height: 600px;
    width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: chocolate;
    /* align-items: center; */
    /* justify-items: center; */
}

button.play-button {
    width: 50%;
    height: 10%;
    align-self: center;
    /* justify-self: center; */
}

button.roll-button {
    width: 50%;
    height: 10%;
    align-self: center;
    
}

button {
    font-size: 26pt;
}

h1 {
    align-self: center;
    text-align: center;
}
.status {
    align-self: center;
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
    align-self: center;
}